<div>
  <div *ngIf="flat$ | async as flat; else loading">
    <h1>{{ flat.address }}</h1>

    <ul>
      <li *ngIf="flat.builtYear">
        Год постройки {{ flat.builtYear }}
      </li>
      <li *ngIf="flat.floor">Этаж {{ flat.floor }}</li>
      <li *ngIf="flat.square">
        Площадь {{ flat.square }} м<sup>2</sup>
      </li>
      <li *ngIf="flat.builtYear">
        Год постройки {{ flat.builtYear }}
      </li>
    </ul>
    <hr />
    <div class="images">
      <img
        *ngFor="let img of flat.images"
        src="{{ img.image }}"
        alt="{{ img.image }}"
      />
    </div>
    <hr />
    <div class="contact">
      <span class="name">{{ flat.contactPerson }}</span>
      <div>
        <a href="tel:{{ flat.contactPhone }}">{{
          flat.contactPhone
        }}</a>
      </div>
      <a href="mailTo:{{ flat.contactEmail }}">{{
        flat.contactEmail
      }}</a>
    </div>
  </div>

  <ng-template #loading>Загрузкa...</ng-template>
</div>
