<div>
  <div *ngIf="flat$ | async; else loading">
    <h1>{{ (flat$ | async).address }}</h1>

    <ul>
      <li *ngIf="(flat$ | async).builtYear">
        Год постройки {{ (flat$ | async).builtYear }}
      </li>
      <li *ngIf="(flat$ | async).floor">Этаж {{ (flat$ | async).floor }}</li>
      <li *ngIf="(flat$ | async).square">
        Площадь {{ (flat$ | async).square }} м<sup>2</sup>
      </li>
      <li *ngIf="(flat$ | async).builtYear">
        Год постройки {{ (flat$ | async).builtYear }}
      </li>
    </ul>
    <hr />
    <div class="images">
      <img
        *ngFor="let img of (flat$ | async).images"
        src="{{ img.image }}"
        alt="{{ img.image }}"
      />
    </div>
    <hr />
    <div class="contact">
      <span class="name">{{ (flat$ | async).contactPerson }}</span>
      <div>
        <a href="tel:{{ (flat$ | async).contactPhone }}">{{
          (flat$ | async).contactPhone
        }}</a>
      </div>
      <a href="mailTo:{{ (flat$ | async).contactEmail }}">{{
        (flat$ | async).contactEmail
      }}</a>
    </div>
  </div>

  <ng-template #loading>Загрузкa...</ng-template>
</div>
